<tr class="MuiTableRow-root css-1q1u3t4-MuiTableRow-root alternate-table-color">
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{EmployeeId}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Name}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{TrainingType}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{EvaluationDate}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{EvaluationMethod}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{JobDescription}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{TrainingHardCopy}</label>
    </td>
</tr>
