<tr class="MuiTableRow-root css-1q1u3t4-MuiTableRow-root alternate-table-color">
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{AcademicYear}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{CourseDegree}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{SchoolCollegeUniversity}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{MainSubject}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Percentage}</label>
    </td>
</tr>
