<tr class="MuiTableRow-root css-1q1u3t4-MuiTableRow-root alternate-table-color">
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Relation}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Name}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Occupation}</label>
    </td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root">
        <label>{Organization}</label>
    </td>
</tr>