<template>
    <div>
         <form class="repeater" enctype="multipart/form-data" id="addEditCompanyForm">
         <div class="row" id="documentDetails">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">User Detail</h4>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="validation validation-summary-valid text-danger" id="ValidationSummary" style="display: none;"></div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">First Name</label>
                                        <div class="col-lg-9">
                                            <input autofocus="autofocus" class="form-control" id="FirstName" name="FirstName" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-lg-9">
                                            <input autocomplete="off" class="form-control" id="LastName" name="LastName" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Username</label>
                                        <div class="col-lg-9">
                                            <input autocomplete="off" class="form-control" id="UserName" name="UserName" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 photo-div custom-file">
                                    <div class="form-group row ">
                                        <label class="col-lg-3 col-form-label">Profile Pic</label>
                                        <div class="col-lg-9">
                                            <input autocomplete="off" class="form-control filestyle custom-file-input" id="ProfilePicPath" name="ProfilePicPath" type="file">
                                            <label class="custom-file-label photo-label">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Password</label>
                                            <div class="col-lg-9">
                                                <input autocomplete="off" class="form-control" id="Password" name="Password" type="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Confirm Password</label>
                                            <div class="col-lg-9">
                                                <input autocomplete="off" class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Mobile No.</label>
                                        <div class="col-lg-9">
                                            <input autocomplete="off" class="form-control" id="MobileNo" maxlength="10" name="MobileNo" number="number" type="number" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Email </label>
                                        <div class="col-lg-9">
                                            <input autocomplete="nope" class="form-control" id="EmailAddress" name="EmailAddress" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Companies</label>
                                        <div class="col-lg-9">
                                            <multiselect placeholder="Select" v-model="value" multiple searchable :options="options"></multiselect>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Roles</label>
                                        <div class="col-lg-9">
                                            <span class="multiselect-native-select"><select class="form-control multi-select-dropdown select2-hidden-accessible" id="roleIds" multiple="" name="RoleIds" tabindex="-1" aria-hidden="true"><option value="1">Manager</option>
<option value="2">Admin</option>
<option value="3">Employee</option>
</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span><div class="btn-group" style="width: 100%;"><button type="button" class="multiselect dropdown-toggle custom-select" data-toggle="dropdown" title="Select" style="width: 100%; overflow: hidden; text-overflow: ellipsis;"><span class="multiselect-selected-text">Select</span></button><div class="multiselect-container dropdown-menu" style="overflow: hidden auto;"><div class="multiselect-filter"><div class="input-group input-group-sm p-1"><div class="input-group-prepend"><i class="input-group-text fas fa-search"></i></div><input class="form-control multiselect-search" type="text" placeholder="Search"><div class="input-group-append"><button class="multiselect-clear-filter input-group-text" type="button"><i class="fas fa-times"></i></button></div></div></div><button class="dropdown-item multiselect-all" title=" Select all"><span class="form-check"><input class="form-check-input" type="checkbox" value="multiselect-all"><label class="form-check-label font-weight-bold"> Select all</label></span></button><button class="multiselect-option dropdown-item" title="Manager"><span class="form-check"><input class="form-check-input" type="checkbox" value="1"><label class="form-check-label">Manager</label></span></button><button class="multiselect-option dropdown-item" title="Admin"><span class="form-check"><input class="form-check-input" type="checkbox" value="2"><label class="form-check-label">Admin</label></span></button><button class="multiselect-option dropdown-item" title="Employee"><span class="form-check"><input class="form-check-input" type="checkbox" value="3"><label class="form-check-label">Employee</label></span></button></div></div></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Address</label>
                                        <div class="col-lg-9">
                                            <textarea autocomplete="off" class="form-control" id="Address" name="Address" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group mb-0">
                            <div>
                                <button type="button" id="saveUserButton" class="btn btn-primary waves-effect waves-light mr-1">
                                    Save
                                </button>
                                <button type="button" id="saveAnotherUserButton" class="btn btn-primary waves-effect waves-light mr-1">
                                    Save &amp; Add Another
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </form>
    </div>
</template>
<script>
export default {
  data() {
    return {
      value: null,
      options: ["foo", "bar", "baz"]
    };
  }
};
</script>
