<template>
  <Layout>
    <PageHeader :title="title" :items="items" />
         <div>
    <button v-b-toggle.sidebar-right class="btn btn-primary float-right"><i class="fas fa-plus-circle mr-2"></i> Add User </button>
    <b-sidebar 
      id="sidebar-right" 
      title="Add User" 
      right shadow
      backdrop-variant ="dark"
      backdrop
      width = "70%"
    >
    <div>
      <add-user></add-user>

    </div>
    </b-sidebar>
  </div>
      <div class="row align-items-center">
        
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group d-flex">
                    <input class="form-control" type="text" v-model ="searchText" placeholder="name, username, mobile, email">
                    
                    <button type="button" id="searchButton" v-on:click="getData()" class="btn btn-primary" tabindex="-1">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="input-group-btn d-flex">
                        <div class="main-filter-block">
                            <button type="button" @click="showFilter" class="btn btn-primary border-radius-0" id="btn-filter" tabindex="-1">
                                <i class="fa fa-filter"></i>
                            </button>
                            <div class="more-filters w-200" :style="isShowFilter ? 'display:block' : ''">
                                <div class="filters">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Status</label>
                                            <div class="form-group">
                                                <select class="form-control " id="statusType" name="statusType"><option value="">All Status</option>
                                                <option value="0">InActive</option>
                                                <option value="1">Active</option>
                                                <option value="3">Deleted</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" id="applyButton">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div :class="tableData.length > 0 ? 'card':''">
          <div class="card-body">
            <!-- Table -->
            <div class="table-responsive mb-0">
              <b-table :v-if="tableData.length > 0"
                :items="tableData"
                :fields="tableData.length > 0  ? fields : null"
                responsive="sm"
                class="table-stripped table-bordered"
                :per-page="perPage"
                :current-page="currentPage"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
                head-variant = "dark"
              >
                <template #cell(actions)="row">
                  <span> 
                    <a class="btn  btn-sm" title="change status"><span><i class="fa fa-toggle-on active" aria-hidden="true"></i></span></a> 
                    <a class="btn btn-sm" title="edit"><span><i class="fa  fa-edit" aria-hidden="true"></i></span></a>
                    <a class="btn btn-sm" title="delete" disabled=""><span><i class="fa fa-trash delete" aria-hidden="true"></i></span></a>
                  </span>
                </template>
              </b-table>
            </div>
            <div class="row" v-if="tableData.length > 0">
              <div class="col">
                <div class="dataTables_paginate paging_simple_numbers float-right">
                  <ul class="pagination pagination-rounded mb-0">
                    <div class="center text-center" @click="onLoadMore">
                      <button class="btn btn-primary">showing {{rows}} of {{totalRecords}} records</button>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
            <div id="noDataAvailable" v-if="tableData.length == 0" class="card text-center">No Record Found.</div>
        </div>
      </div>
    </div>
  </Layout>
</template>
<script>
import Layout from "../../layouts/main";
import PageHeader from "@/components/page-header";
import appConfig from "@/app.config";
import axios from "../../../../node_modules/axios";
import AddUser from "./adduser.vue";
import { tableData } from '../tables/data-advancedtable';

// import { tableData } from "./data-advancedtable";

/**
 * Advanced table component
 */
export default {
  page: {
    title: "Users",
    meta: [{ name: "description", content: appConfig.description }]
  },
  components: { Layout, PageHeader, AddUser },
  data() {
    return {
      tableData: [],
      isShowFilter: false,
      totalRecords: null,
      right: true,
      start: 0,
      length: 10,
      title: "Users",
      searchText : null,
      tablelength : 0,
      items: [
        {
          text: "Veltrix",
          href: "/"
        },
        {
          text: "Tables",
          href: "/"
        },
        {
          text: "Advanced",
          active: true
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 25, 50, 100],
      filter: null,
      filterOn: [],
      sortBy: "name",
      sortDesc: false,
      fields: [
        { key: "name", sortable: true },
        { key: "userName", sortable: true },
        { key: "emailAddress", sortable: true },
        { key: "mobileNumber", sortable: false },
        { key: "actions", sortable: false, class: "action-td text-center" }
      ]
    };
  },
  computed: {
    /**
     * Total no. of records
     */
    rows() {
      return this.tableData.length;
    }
  },
  async mounted() {
    await this.getData();
  },
  methods: {
    /**
     * Search the table data with search input
     */
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    onLoadMore() {
      // TODO: consume the search API and push the response in the fields array
    },
    onEditClick(data) {
      alert(JSON.stringify(data.item.salary));
    },
    showFilter() {
      this.isShowFilter = !this.isShowFilter;
    },

    async getData() {
      console.log(this.searchText);
      const response = await axios.post("user/search", {
        data: {
          status: null
        },
        start: this.start,
        length: this.length,
        sortExpression: null,
        searchKeyword: this.searchText
      });
      this.totalRecords = response.data.totalRecords;

      if(this.tablelength != this.tableData.length || this.tableData.length == 0)
      {
        if(response.data.result.length==0)
        {
          this.tableData = [];
        }
        for (const res in response.data.result) {
          this.tableData.push({
            name: response.data.result[res].name,
            userName: response.data.result[res].userName,
            emailAddress: response.data.result[res].emailAddress,
            mobileNumber: response.data.result[res].mobileNumber
          });
          }
          this.tablelength = tableData.length;
      }
      // Set the initial number of items
      this.totalRows = this.items.length;
    }
  }
};
</script>
<style>
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-filters {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  background: #ffffff;
  position: absolute;
  left: 50%;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-top: 10px;
  z-index: 1;
  display: none;
}

.more-filters.w-400 {
  width: 400px;
}

.more-filters.w-600 {
  width: 600px;
}

.more-filters.w-200 {
  width: 200px;
}

.filters {
  position: relative;
  padding: 15px;
}

.filters::before,
.filters::after {
  position: absolute;
  display: block;
  border-style: solid;
  content: "";
  border-top-width: 0;
  top: -9px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.filters::after {
  border-bottom: 9px solid #ffffff;
}

.filters::before {
  border-bottom: 8px solid #e2e2e2;
}

.border-radius-0 {
  border-radius: 0;
}

.main-filter-block {
  position: relative;
}

.main-filter-block .form-control {
  border-radius: 2px !important;
}
.table th,
.table td {
  padding: 0.4rem;
}

.thcolor {
  background: #000;
  color: #fff;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  opacity: 1 !important;
}

table tbody td a.action {
  display: inline-block;
  margin: 0 4px;
  color: #428bca;
}

table tbody td.action-td {
  position: relative;
  white-space: nowrap;
  width: 10%;
}

table tbody td .more-action-option {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 33px;
  padding: 0;
  background: #fff;
  min-width: 120px;
  border: 1px solid #ddd;
  z-index: 9;
  border-radius: 3px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
  display: none;
}

table tbody td .more-action-option.small {
  min-width: 75px;
}

table tbody td .more-action-option.four {
  min-width: 110px;
}

table tbody td .more-action-option.five {
  min-width: 130px;
}

table tbody td .more-action-option.six {
  min-width: 150px;
}

table tbody td .more-action-option:after,
table tbody td .more-action-option:before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

table tbody td .more-action-option:after {
  top: 8px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 5px;
}

table tbody td .more-action-option:before {
  top: 7px;
  border-color: transparent transparent transparent #dddddd;
  border-width: 6px;
}

table tbody td .more-action-option a.action {
  padding: 5px;
  margin: 0;
}

@media (max-width: 767px) {
  .more-filters {
    width: 300px !important;
  }
}

.active {
  color: green;
}

.delete {
  color: red;
}
</style>
