<script>
import Layout from "../layouts/main";
import appConfig from "@/app.config";

export default {
  page: {
    title: "Dashboard",
    meta: [{ name: "description", content: appConfig.description }]
  },
  components: {
    Layout
  },
  data() {
    return {};
  }
};
</script>

<template>
<layout></layout>
</template>